body{

    font-family:  Georgia, 'Times New Roman', Times, serif;
    /* font-family: 'Poppins', sans-serif; */
}
.topHeader{
  position: relative;
  height: 600px;
  background-image: url("bg.jpg") ;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.titleContainer{
  color: white;
  text-align: center;
  z-index: 10;

  
}
.topTitle{
  font-size:4rem;
  margin-bottom: 30px;
}

.smalTitle{
  font-size: 2rem;
}

.aboutTitle{
  text-align: center;
 
}

.sectionAbout{
  padding: 50px 0;
}

.github,.linkedin,.gmail{
  border-radius: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-top: 15px;
  padding: 5px;


}

.btn{
  margin-top: 15px;
}

.textTitle{
  color: green;
  margin-bottom: 38px;
}

.portfolio{
  display: flex;
  padding: 10px 20px;
  align-items: center;
  margin-top: 50px;
  min-height: 500px;
  background: silver;
}

.contact{
  min-height: 500px;
  /* background: aliceblue; */
}

.footeritem{
  min-height: 150px;
  background-color: rgb(6, 6, 20);
}

